@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.eot");
  src: url("../fonts/roboto-v47-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v47-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v47-latin-regular.woff") format("woff"),
    url("../fonts/roboto-v47-latin-regular.ttf") format("truetype"),
    url("../fonts/roboto-v47-latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.eot");
  src: url("../fonts/roboto-v47-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v47-latin-600.woff2") format("woff2"),
    url("../fonts/roboto-v47-latin-600.woff") format("woff"),
    url("../fonts/roboto-v47-latin-600.ttf") format("truetype"),
    url("../fonts/roboto-v47-latin-600.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.eot");
  src: url("../fonts/roboto-v47-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v47-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v47-latin-700.woff") format("woff"),
    url("../fonts/roboto-v47-latin-700.ttf") format("truetype"),
    url("../fonts/roboto-v47-latin-700.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2");
}

:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-brand: #2b7fff;
  --color-secondary-field: #747272;
  --color-secondary-text: #4a4a4a;
  --color-secondary-background: #011f4a;
}

/* Base */
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}
body {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  margin: 0px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
address {
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.section {
  padding: 48px 0;
}
/* Button */
button {
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand);
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  background-color: var(--color-brand);
  width: 230px;
  height: 60px;
  top: 20px;
  left: 20px;
  gap: 10px;
  border-radius: 32px;
  padding: 16px 32px;
}
button:hover {
  color: var(--color-primary-dark);
  border: 2px solid var(--color-brand);
  background-color: transparent;
}

/* Header */
.heder-hero-section {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #fff 60%),
    url("../images/Hero-image.png");
  background-repeat: no-repeat;
  background-position: right center;
  /* background-size: cover; */
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 32px 0px;
}
.header {
  background: rgba(255, 255, 255, 0.25); /* Білий колір із 60% прозорістю */
  backdrop-filter: blur(10px);
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
/* Link */
.link {
  color: var(--color-primary-dark);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand);
  /* font-weight: 700; */
}
.header-socialmedia {
  display: flex;
  gap: 32px;
}

/* Hero-section */
.hero-content {
  padding: 16px 605px 126px 106px;
}
.hero-title {
  font-family: Play, sans-serif;
  color: var(--color-brand);
  text-align: left;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  margin: 0;
  padding-bottom: 40px;
}
.minimal-text {
  color: var(--color-secondary-text);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  width: 230px;
  padding-top: 14px;
}
/* About us section */

.content-block {
  padding-top: 40px;
}
.about-us-block {
  display: flex;
  gap: 40px;
}

.about-us-title {
  width: 530px;
}

.photo-before {
  border-radius: 163.5px;
}

.photo-after {
  border-radius: 163.5px;
  float: right;
}

.section-title {
  font-family: Play, sans-serif;
  color: var(--color-primary-dark);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  margin: 0;
}
.section-title .accent {
  color: var(--color-brand);
}
.about-us-text {
  color: var(--color-primary-dark);
  font-weight: 400;
  font-size: 22px;
  width: 670px;
  margin-top: 40px;
}
.about-us-accent-text {
  font-weight: 600;
}

/* Why we section */

.why-we-section {
  background: linear-gradient(
    to bottom,
    rgba(43, 127, 255, 0.2) 40%,
    rgba(43, 127, 255, 0) 100%
  );
}

.why-we-section-block {
  display: flex;
  flex-direction: column;
  /* background-color: #747272; */
  margin: 0 auto;
  align-items: center;
}
.why-we-title {
  width: 432px;
  text-align: center;
}
.why-we-content {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  margin-top: 48px;
}
.why-we-cards {
  max-width: 316px;
  max-height: 181px;
  border-radius: 32px;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 24px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #a8c6f561;
}
/* Procedures section */
.procedures-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.procedures-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

/* Contacts section */
.contacts-content {
  display: flex;
  margin-top: 48px;
  gap: 32px;
}
.contacts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  color: var(--color-primary-light);
  background-color: var(--color-secondary-background);
}
.contacts-text .accent {
  color: var(--color-brand);
}
.contacts-text-privacy {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-secondary-text);
}
.contacts-text-privacy-link {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-secondary-text);
  font-style: inherit;
}

/* Footer */
.footer-link {
  color: var(--color-primary-light);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--color-secondary-background);
}
.footer-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}
.link-adress {
  color: var(--color-primary-light);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--color-secondary-background);
}
.link-copyright {
  color: var(--color-secondary-text);
  font-size: 13px;
}
